{{ define "content" }}

<div class="container">
  <!-- Testing Container -->
  <div class="row">
    <div class="col">
      <h3>Staircase</h3>
      <p>Your tool for real-time direct web-analysis.</p>
      <ul clas="list-group">
        <li class="list-group-item">A general purpose web analysis engine with an easy-to-use schema.</li>
        <li class="list-group-item">A built-in postgresql integration.</li>
        <li class="list-group-item">Open-Source!</li>
      </ul>

      <button class="btn btn-dark" 
        hx-get="/htmx/form/signup"
        hx-trigger="click"
        hx-target="#form-destination"
        hx-swap="innerHTML"
      >Sign Up</button>
    </div> 
  </div>

  <div class="row">
    <div class="col justify-content-center">
      <div id="form-destination" class="p-2 d-flex justify-content-center"
        hx-get="/htmx/form/login"
        hx-trigger="load"
      ></div>
    </div>
  </div>
</div>

{{ end }}
