{{ define "form-job_create" }}
<div class="card" style="max-width: 26rem;"
  hx-get="/htmx/form/success"
  hx-trigger="datasource-create-success from:body"
  hx-target="this"
  hx-swap="outerHTML"
>
  <div class="card-body">
    <!-- Form Header -->
    <div>
      <div class="d-flex justify-content-between align-items-center gap-2">
        <h3>New Job</h3>
        <i class="bi bi-cloud-plus" style="font-size: 30px;"></i>
      </div>
      <p>
        A Job is the backbone of the scraping engine! You must use 
        the Staircase schema and define the information you seek 
        to scrape!
      </p>
    </div>

    <!-- Form Content -->
    <div class="mb-3">
      <label for="form-job_name" class="form-label">Name</label>
      <input type="text" class="form-control" id="form-job_name" name="form-job_name" placeholder="Enter job name">
      <p class="text-muted">
        This is the name of your job. It should be unique and descriptive.
      </p>
    </div>

  </div>
</div>
{{ end }}
{{ template "form-job_create" . }}
