<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Staircase</title>
    <link href="/static/bootstrap/bootstrap-5.3.8-dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/bootstrap/icons/font/bootstrap-icons.min.css">
  </head>
  <body>
    <div class="d-flex flex-direction-row gap-1"></div>
      <div id="notification" class="m-2 p-1">
      </div>

      <div class="m-2 p-1">
        {{ template "content" . }}
      </div>
    <script src="/static/htmx/htmx.min.js"></script>
    <script src="/static/bootstrap/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
